<nav>
    <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>site</p>
    </div>
    <ul>
        <li><a href="/">blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blog/create">create</a></li>
    </ul>
</nav>